# Configuraciones API DNI
APIS_PERU_TOKEN=tu_token_de_apis_peru
DNI_API_URL=https://dniruc.apisperu.com/api/v1/dni/

# Configuraciones IA (OpenRouter)
OPENROUTER_API_KEY=tu_token_de_openrouter
OPENROUTER_MODEL=openai/gpt-4o-mini
